.vs
www.worldisawesome.fun/bin
www.worldisawesome.fun/obj
www.worldisawesome.fun/Custom_ExperiencesMedia
www.worldisawesome.fun/Custom_PlacesPictures
www.worldisawesome.fun/Custom_UsersPictures
www.worldisawesome.fun/appsettings.json
