<div id="header-logo">
    <a href="/" title="Home" id="home-logo">
        <img src="~/images/logo_icon_text.svg" alt="logo" title="Home" class="icon theme-light" />
        <img src="~/images/logo_icon_text_light.svg" alt="logo" title="Home" class="icon theme-dark" />
    </a>
</div>